<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zengqiang.xiaoshuo.dao.AA02Mapper">
  <resultMap id="BaseResultMap" type="com.zengqiang.xiaoshuo.model.AA02">
    <id column="AAA001" jdbcType="VARCHAR" property="aaa001" />
    <result column="AAA002" jdbcType="VARCHAR" property="aaa002" />
    <result column="AAA003" jdbcType="TIMESTAMP" property="aaa003" />
    <result column="AAA004" jdbcType="VARCHAR" property="aaa004" />
    <result column="AAA005" jdbcType="DECIMAL" property="aaa005" />
    <result column="AAA006" jdbcType="VARCHAR" property="aaa006" />
    <result column="AAA007" jdbcType="DECIMAL" property="aaa007" />
    <result column="AAA009" jdbcType="DECIMAL" property="aaa009" />
    <result column="ABB001" jdbcType="VARCHAR" property="abb001" />
    <result column="AAA010" jdbcType="VARCHAR" property="aaa010" />
    <result column="AAB010" jdbcType="VARCHAR" property="aab010" />
    <result column="AAB011" jdbcType="VARCHAR" property="aab011" />
    <result column="AAB012" jdbcType="VARCHAR" property="aab012" />
    <result column="AAA011" jdbcType="VARCHAR" property="aaa011" />
    <result column="AAA008" jdbcType="DECIMAL" property="aaa008" />
    <result column="AAA012" jdbcType="VARCHAR" property="aaa012" />
    <result column="AAA013" jdbcType="VARCHAR" property="aaa013" />
    <result column="AAA014" jdbcType="VARCHAR" property="aaa014" />
    <result column="AAA015" jdbcType="VARCHAR" property="aaa015" />
    <result column="AAA016" jdbcType="VARCHAR" property="aaa016" />
    <result column="AAA017" jdbcType="DECIMAL" property="aaa017" />
    <result column="AAA018" jdbcType="TIMESTAMP" property="aaa018" />
  </resultMap>
  <sql id="Base_Column_List">
    AAA001, AAA002, AAA003, AAA004, AAA005, AAA006, AAA007, AAA009, ABB001, AAA010, AAB010, 
    AAB011, AAB012, AAA011, AAA008, AAA012, AAA013, AAA014, AAA015, AAA016, AAA017, AAA018
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AA02
    where AAA001 = #{aaa001,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AA02
    where AAA001 = #{aaa001,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zengqiang.xiaoshuo.model.AA02">
    insert into AA02 (AAA001, AAA002, AAA003, 
      AAA004, AAA005, AAA006, 
      AAA007, AAA009, ABB001, 
      AAA010, AAB010, AAB011, 
      AAB012, AAA011, AAA008, 
      AAA012, AAA013, AAA014, 
      AAA015, AAA016, AAA017, 
      AAA018)
    values (#{aaa001,jdbcType=VARCHAR}, #{aaa002,jdbcType=VARCHAR}, #{aaa003,jdbcType=TIMESTAMP}, 
      #{aaa004,jdbcType=VARCHAR}, #{aaa005,jdbcType=DECIMAL}, #{aaa006,jdbcType=VARCHAR}, 
      #{aaa007,jdbcType=DECIMAL}, #{aaa009,jdbcType=DECIMAL}, #{abb001,jdbcType=VARCHAR}, 
      #{aaa010,jdbcType=VARCHAR}, #{aab010,jdbcType=VARCHAR}, #{aab011,jdbcType=VARCHAR}, 
      #{aab012,jdbcType=VARCHAR}, #{aaa011,jdbcType=VARCHAR}, #{aaa008,jdbcType=DECIMAL}, 
      #{aaa012,jdbcType=VARCHAR}, #{aaa013,jdbcType=VARCHAR}, #{aaa014,jdbcType=VARCHAR}, 
      #{aaa015,jdbcType=VARCHAR}, #{aaa016,jdbcType=VARCHAR}, #{aaa017,jdbcType=DECIMAL}, 
      #{aaa018,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zengqiang.xiaoshuo.model.AA02">
    insert into AA02
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aaa001 != null">
        AAA001,
      </if>
      <if test="aaa002 != null">
        AAA002,
      </if>
      <if test="aaa003 != null">
        AAA003,
      </if>
      <if test="aaa004 != null">
        AAA004,
      </if>
      <if test="aaa005 != null">
        AAA005,
      </if>
      <if test="aaa006 != null">
        AAA006,
      </if>
      <if test="aaa007 != null">
        AAA007,
      </if>
      <if test="aaa009 != null">
        AAA009,
      </if>
      <if test="abb001 != null">
        ABB001,
      </if>
      <if test="aaa010 != null">
        AAA010,
      </if>
      <if test="aab010 != null">
        AAB010,
      </if>
      <if test="aab011 != null">
        AAB011,
      </if>
      <if test="aab012 != null">
        AAB012,
      </if>
      <if test="aaa011 != null">
        AAA011,
      </if>
      <if test="aaa008 != null">
        AAA008,
      </if>
      <if test="aaa012 != null">
        AAA012,
      </if>
      <if test="aaa013 != null">
        AAA013,
      </if>
      <if test="aaa014 != null">
        AAA014,
      </if>
      <if test="aaa015 != null">
        AAA015,
      </if>
      <if test="aaa016 != null">
        AAA016,
      </if>
      <if test="aaa017 != null">
        AAA017,
      </if>
      <if test="aaa018 != null">
        AAA018,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aaa001 != null">
        #{aaa001,jdbcType=VARCHAR},
      </if>
      <if test="aaa002 != null">
        #{aaa002,jdbcType=VARCHAR},
      </if>
      <if test="aaa003 != null">
        #{aaa003,jdbcType=TIMESTAMP},
      </if>
      <if test="aaa004 != null">
        #{aaa004,jdbcType=VARCHAR},
      </if>
      <if test="aaa005 != null">
        #{aaa005,jdbcType=DECIMAL},
      </if>
      <if test="aaa006 != null">
        #{aaa006,jdbcType=VARCHAR},
      </if>
      <if test="aaa007 != null">
        #{aaa007,jdbcType=DECIMAL},
      </if>
      <if test="aaa009 != null">
        #{aaa009,jdbcType=DECIMAL},
      </if>
      <if test="abb001 != null">
        #{abb001,jdbcType=VARCHAR},
      </if>
      <if test="aaa010 != null">
        #{aaa010,jdbcType=VARCHAR},
      </if>
      <if test="aab010 != null">
        #{aab010,jdbcType=VARCHAR},
      </if>
      <if test="aab011 != null">
        #{aab011,jdbcType=VARCHAR},
      </if>
      <if test="aab012 != null">
        #{aab012,jdbcType=VARCHAR},
      </if>
      <if test="aaa011 != null">
        #{aaa011,jdbcType=VARCHAR},
      </if>
      <if test="aaa008 != null">
        #{aaa008,jdbcType=DECIMAL},
      </if>
      <if test="aaa012 != null">
        #{aaa012,jdbcType=VARCHAR},
      </if>
      <if test="aaa013 != null">
        #{aaa013,jdbcType=VARCHAR},
      </if>
      <if test="aaa014 != null">
        #{aaa014,jdbcType=VARCHAR},
      </if>
      <if test="aaa015 != null">
        #{aaa015,jdbcType=VARCHAR},
      </if>
      <if test="aaa016 != null">
        #{aaa016,jdbcType=VARCHAR},
      </if>
      <if test="aaa017 != null">
        #{aaa017,jdbcType=DECIMAL},
      </if>
      <if test="aaa018 != null">
        #{aaa018,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengqiang.xiaoshuo.model.AA02">
    update AA02
    <set>
      <if test="aaa002 != null">
        AAA002 = #{aaa002,jdbcType=VARCHAR},
      </if>
      <if test="aaa003 != null">
        AAA003 = #{aaa003,jdbcType=TIMESTAMP},
      </if>
      <if test="aaa004 != null">
        AAA004 = #{aaa004,jdbcType=VARCHAR},
      </if>
      <if test="aaa005 != null">
        AAA005 = #{aaa005,jdbcType=DECIMAL},
      </if>
      <if test="aaa006 != null">
        AAA006 = #{aaa006,jdbcType=VARCHAR},
      </if>
      <if test="aaa007 != null">
        AAA007 = #{aaa007,jdbcType=DECIMAL},
      </if>
      <if test="aaa009 != null">
        AAA009 = #{aaa009,jdbcType=DECIMAL},
      </if>
      <if test="abb001 != null">
        ABB001 = #{abb001,jdbcType=VARCHAR},
      </if>
      <if test="aaa010 != null">
        AAA010 = #{aaa010,jdbcType=VARCHAR},
      </if>
      <if test="aab010 != null">
        AAB010 = #{aab010,jdbcType=VARCHAR},
      </if>
      <if test="aab011 != null">
        AAB011 = #{aab011,jdbcType=VARCHAR},
      </if>
      <if test="aab012 != null">
        AAB012 = #{aab012,jdbcType=VARCHAR},
      </if>
      <if test="aaa011 != null">
        AAA011 = #{aaa011,jdbcType=VARCHAR},
      </if>
      <if test="aaa008 != null">
        AAA008 = #{aaa008,jdbcType=DECIMAL},
      </if>
      <if test="aaa012 != null">
        AAA012 = #{aaa012,jdbcType=VARCHAR},
      </if>
      <if test="aaa013 != null">
        AAA013 = #{aaa013,jdbcType=VARCHAR},
      </if>
      <if test="aaa014 != null">
        AAA014 = #{aaa014,jdbcType=VARCHAR},
      </if>
      <if test="aaa015 != null">
        AAA015 = #{aaa015,jdbcType=VARCHAR},
      </if>
      <if test="aaa016 != null">
        AAA016 = #{aaa016,jdbcType=VARCHAR},
      </if>
      <if test="aaa017 != null">
        AAA017 = #{aaa017,jdbcType=DECIMAL},
      </if>
      <if test="aaa018 != null">
        AAA018 = #{aaa018,jdbcType=TIMESTAMP},
      </if>
    </set>
    where AAA001 = #{aaa001,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengqiang.xiaoshuo.model.AA02">
    update AA02
    set AAA002 = #{aaa002,jdbcType=VARCHAR},
      AAA003 = #{aaa003,jdbcType=TIMESTAMP},
      AAA004 = #{aaa004,jdbcType=VARCHAR},
      AAA005 = #{aaa005,jdbcType=DECIMAL},
      AAA006 = #{aaa006,jdbcType=VARCHAR},
      AAA007 = #{aaa007,jdbcType=DECIMAL},
      AAA009 = #{aaa009,jdbcType=DECIMAL},
      ABB001 = #{abb001,jdbcType=VARCHAR},
      AAA010 = #{aaa010,jdbcType=VARCHAR},
      AAB010 = #{aab010,jdbcType=VARCHAR},
      AAB011 = #{aab011,jdbcType=VARCHAR},
      AAB012 = #{aab012,jdbcType=VARCHAR},
      AAA011 = #{aaa011,jdbcType=VARCHAR},
      AAA008 = #{aaa008,jdbcType=DECIMAL},
      AAA012 = #{aaa012,jdbcType=VARCHAR},
      AAA013 = #{aaa013,jdbcType=VARCHAR},
      AAA014 = #{aaa014,jdbcType=VARCHAR},
      AAA015 = #{aaa015,jdbcType=VARCHAR},
      AAA016 = #{aaa016,jdbcType=VARCHAR},
      AAA017 = #{aaa017,jdbcType=DECIMAL},
      AAA018 = #{aaa018,jdbcType=TIMESTAMP}
    where AAA001 = #{aaa001,jdbcType=VARCHAR}
  </update>
</mapper>